@import url(https://fonts.googleapis.com/css?family=Palanquin);
@import url(https://fonts.googleapis.com/css?family=Martel:400,300);

*{
	padding: 0;
	margin:0;
}

body { 
      font-family: Helvetica, Arial, Sans-serif;
      font-color: #FFFAF5;
      font-size: 16px; /*1em = 16px*/
      text-align: center;
      line-height: 1.3;
}

header {
	font-family: 'Palanquin', sans-serif;
	font-size: 30px;
	line-height: 1.5em;
	background-image: url(images/lightbulb.jpg); 
	background-color: #FFEEDB;
	background-position: center;
	background-repeat: no-repeat;
    padding: 288px;
}

h1 {
	color: #FFEEDB;
	font-size: 60px;
    text-align: center;
}

h2{
	font-size: 1.5em
}

p{
	font-family: 'Martel', serif;
	font-size: 1em;
	width: 30em;
}

a {
	color: #427A4B;
	text-decoration: none;
}

nav a{
    color: #427A4B;
    font-style: italic;
    margin-right: 20px;
    text-align: center;
}

img {
  width: 100px;
}

footer {
	background-color: #000000;
	padding: 20px;
	text-align: center;
}

.box {
	background-color: white;
	opacity: 0.8;
    font-weight: bold;
	padding: 10px;
}

.projectphoto{
	width: 30px;
}


