
@import url(https://fonts.googleapis.com/css?family=Palanquin);
@import url(https://fonts.googleapis.com/css?family=Martel:400,300);

* {padding: 0;margin:0;box-sizing:border-box;}

body{
	font-family: 'Martel', serif;
	font-size: 16px; /*1em = 16px*/
	color:#22241f;
	line-height: 1.4;
}

header{
	font-family: 'Palanquin', sans-serif;
	font-size: 1.5em;
	text-align: center;
	background-image: url(images/lightbulb.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 22%;
	}

header h1, header p{
	text-align: center;
	color: #fff;
	background-color:rgba(66, 122, 75, 0.5);
}

nav{
	width:100%;
	padding: 0.8%;
	text-align: center;
	float: center;
	display: inline-block;
	margin:0;
}

a{
	color:#427a4b;
	text-decoration: none;
	padding:2%;
}

#about{
    text-align: center;
    line-height: 2em;
    margin: 8%;
}

#projects {
    text-align: center;
    width: 100%;
    margin-top: 8%;
}

#contact {
	color:#fff;

}

.column {
	text-align: center;
	float: left;
	display: inline;
	width: 25%;
    min-height: 2em;
}

.column img{width:100%;}

footer {
	text-align: center;
	background:#000;
	display: inline-block;
	margin-top: 8%;
	width:100%;
	line-height: 5em;
}

.clearfix:after {
  	visibility: hidden;
  	display: block;
  	font-size: 0;
  	content: " ";
  	clear: both;
  	height: 0;
}

@media screen only and (max-width: 870px){

#projects {
	color:#427a4b;
}

.column {
	width: 30%;
	}
}

@media screen only and (max-width: 475px){

}

