
@import url(https://fonts.googleapis.com/css?family=Palanquin);
@import url(https://fonts.googleapis.com/css?family=Martel:400,300);

* {padding: 0;margin:0;box-sizing:border-box;}

body{
	font-family: 'Martel', serif;
	font-size: 16px; /*1em = 16px*/
	color:#22241f;
	line-height: 1.4;
}

header{
	font-family: 'Palanquin', sans-serif;
	font-size: 1.5em;
	text-align: center;
	background-image: url(images/lightbulb.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
	}

header div{
	text-align: center;
	color: #fff;
	background-color:rgba(66, 122, 75, 0.5);
	padding: 1em;
	max-width: 25em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

nav{
	width:100%;
	padding: 0.8%;
	text-align: center;
	float: center;
	display: inline-block;
	margin:0;
}

a{
	color:#427a4b;
	text-decoration: none;
	padding:2%;
}

#about{
    line-height: 2em;
    margin: 8% auto;
    max-width: 40em;
    padding: 0 1em;
}

#projects {
    text-align: center;
    width: 100%;
}

#contact {
	color:#fff;

}

.column {
	text-align: center;
	float: left;
	width: 25%;
	min-height: 2em;
}

.column img{width:100%;}

footer {
	text-align: center;
	background:#000;
	display: inline-block;
	margin-top: 8%;
	width:100%;
	line-height: 5em;
}

.clearfix:after {
  	visibility: hidden;
  	display: block;
  	font-size: 0;
  	content: " ";
  	clear: both;
  	height: 0;
}

/*Portrait*/
@media only screen and (max-width: 870px){
	
	.column {
		width: 50%;
	}
}

@media only screen and (max-width: 600px){

	nav {
		background:#fff;
		padding:2em;
		position:fixed;
		bottom:0;
	}

	#projects{
		text-align: left;
		margin: 8% auto;
    	max-width: 40em;
    	padding: 0 1em;
	}

	.column{
		width: 50%;
		float: none;
		padding: 0em;
		margin:2em 0em;
	}
}

